button {
	margin: -23px 0px 30px 0px;
	padding: 0px !important;
	width: 130px;
	background-color: black !important;
	clip-path: polygon(15% 100%, 85% 100%, 100% 0, 0 0);
	border-top: 0px solid black !important;
	border-left: 2px solid black !important;
	border-right: 2px solid black !important;
	border-bottom: 3px solid black !important;
	color: black !important;
	border-radius: 0px !important;
}

.btnColor {
	padding: 3px 2px 1px 2px;
	margin-left: 1px;
	width: 124px;
	color: #dbdbdb;
	font-size: 18px;
	background-image: url(/images/irongrip.png);
	background-color: black;
	clip-path: polygon(15% 100%, 85% 100%, 100% 0, 0 0);
	transition: .25s;
}

.inactive .btnColor:hover {
	text-decoration: underline !important;
}

.active .btnColor {
	font-weight: bold;
	cursor: default;
}

.inactive .btnColor {
	box-shadow: inset 0px 3px 0px 0px black;
	background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(/images/irongrip.png);
}